body {
    font-family: Arial, Helvetica, sans-serif;
}
.g6-tooltip {
    padding: 10px 6px;
    color: #444;
    background-color: rgba(255,255,255,0.9);
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    max-width: 600px;
}
.g6-minimap {
    position: absolute;
    right: 0;
    top: 6px;
    background-color: #fff;
}
.SQLFuzz-header {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.SQLFuzz-header h1 {
    margin-right: 12px;
}
.SQLFuzz-header a {
    text-decoration: none;
    color: black;
}